<div ng-class="{'hidden': !profileDropIsActive, 'dropdown-active': profileDropIsActive}" ng-init="profileDropIsActive = false" class="profile-dropdown tiles-border">
		<div id="first-arrow" class="arrow-up"></div>
			<div class="mini-nav-drop tiles-border">
				<div id="profile-link">
					<img id="profile-icon"src="images/profile-icon.png"/><span>PROFILE</span>
				</div>
				<div id="logout-link">
					<img id="profile-icon" src="images/logout-icon.png"/><span>LOGOUT</span>
				</div>
			</div>
			<div class="notification-container">
				<img class="round-pict dropdown-profile-pict" src="images/old_man.jpg"/>
				<div class="notification">
					<span class="name-color">Ian Foster </span> <div>commented your</div> <div class="post-color"> post </div>
				</div>
				<div class="notif-time"> 12 minutes ago</div>
				<div class="notif-dotted-line"></div>
			</div>
			<div class="notification-container">
				<img class="round-pict dropdown-profile-pict" src="images/old_man.jpg"/>
				<div class="notification">
					<div class="name-color">Ian Foster </div> <div>commented your</div> <div class="post-color"> post </div>
				</div>
				<div class="notif-time"> 12 minutes ago</div>
				<div class="notif-dotted-line"></div>
			</div>
			<div class="notification-container">
				<img class="round-pict dropdown-profile-pict" src="images/old_man.jpg"/>
				<div class="notification">
					<div class="name-color">Ian Foster </div> <div>commented your</div> <div class="post-color"> post </div>
				</div>
				<div class="notif-time"> 12 minutes ago</div>
				<div class="notif-dotted-line"></div>
			</div>
			<div class="notification-container">
				<img class="round-pict dropdown-profile-pict" src="images/old_man.jpg"/>
				<div class="notification">
					<div class="name-color">Ian Foster </div> <div>commented your</div> <div class="post-color"> post </div>
				</div>
				<div class="notif-time"> 12 minutes ago</div>
				<div class="notif-dotted-line"></div>
			</div>
			<div class="profile-dropdown-footer">SEE ALL</div>
		</div> 