#login-tile {

	width:587px !important;
	overflow: hidden;
	padding-bottom:20px !important;
	margin-top: 0px !important;
	height: auto !important;
	text-align: center;
	@media only screen and (max-width: 768px){
		width:93% !important;
	}
	#logo {
		width:158px;
		margin:30px auto;
		display: block;
	}
	input.login-input {
		@include font-size(16px);
		font-family: "Lato";
		font-weight: lighter;
		color:#666;
		background-color:#F2F2F2;

		width:79%;
		height:42px;
		display:block;
		border:none;

		margin:10px auto;
		padding-left:23px;
		padding-right:65px;

		&:focus {
			outline:none;
		}
	}
	.password-wrap {
		position: relative;
		a#forgot {
			color:#666;
			font-family: "Lato";
			font-weight: lighter;
			@include font-size(15px);
			position: absolute;
			right: 13%;
			top: 13px;
		}
	}
	#staylogged {
		@include user-select();
		text-align:left;
		cursor: pointer;
		width: 79%;
		margin: auto;
		padding-right: 60px;
		display: inline-block;
		position: relative;
		label {
			@include font-size(14px);
			color:#7D7D7D;
			margin-top: 0px;
			display: inline-block;
			vertical-align: top;
		}
	}
	#checklogin {
		display: block;
		margin:20px auto;
		width: 65%;
		text-align: center;
		@media only screen and (max-width: 480px){
			width:81%;
		}
		#login-button-wrapper {
			height: 40px;
			input.login-button {
				border: 0;
				height: 48px;
				width:60%;
				font-family: Lato;
				background: #79BC2E;
				border-radius: 0px;
				font-weight: lighter;
				cursor: pointer;
				@include font-size(16px);
				color:#fff;
				&:focus {
					outline:none;
				}
				&:hover {
					background: #93C957;
				}
			}
		}
	}
	.login-errors {
		margin-bottom: 30px;
		.login-error {
			font-family: "Lato";
			font-weight: lighter;
			font-size: 14px;
			line-height: 18px;
			color: #D4000E;

			margin: auto;
			display: block;
		}
	}
}
div.login-button {
	display: inline-block;
	vertical-align: top;
	bottom:0px;
	font-size:0px;
	padding-left: 17%;
	padding-right: 17%;
	padding-top: 10px;
	padding-bottom: 10px;
	cursor: pointer;
	a {
		@include font-size(15px);
		width:155px;
		margin-top:13px;
	}
	font-weight: lighter;
	text-align:center;
}