@mixin placeholder {
  ::-webkit-input-placeholder {@content};
  :-moz-placeholder           {@content};
  ::-moz-placeholder          {@content};
  :-ms-input-placeholder      {@content}; 
}

@mixin rotate($value)
{
	transform: rotate($value);
	-webkit-transform: rotate($value);
	-moz-transform: rotate($value);
	-o-transform: rotate($value);
	-ms-transform: rotate($value);
}

@mixin nascar-sprite($x:0, $y:0, $dx:75px, $dy:75px, $error_x:0px, $error_y:0px, $scale:1, $mobile_scale:1, $color:transparent){

	// SPRITE DATA
	$sprite_url:'../images/assets-02.png';
	$sprite_square:75;
	$sprite_width:$sprite_square*8px;
	$sprite_height:$sprite_square*6px;

	// BLOCK
	display:block;
	width:$dx;
	height:$dy;

	// BACKGROUND
	$pos_x:($sprite_square*$x*-1px - $sprite_square*0.5px) * $scale + $error_x;
	$pos_y:($sprite_square*$y*-1px - $sprite_square*0.5px) * $scale + $error_y;
	background-image:url($sprite_url);
	background-size:$sprite_width*$scale $sprite_height*$scale;
	background-position:$pos_x + ($dx)/2 $pos_y + ($dy)/2;
	background-repeat:no-repeat;
	background-color:$color;

  // RESPONSIVE
  @media only screen and (max-width: 768px){
  	$scale_r:$scale * $mobile_scale;
  	$pos_x:($sprite_square*$x*-1px - $sprite_square*0.5px) * $scale_r + $error_x;
  	$pos_y:($sprite_square*$y*-1px - $sprite_square*0.5px) * $scale_r + $error_y;
  	background-size:$sprite_width*$scale_r $sprite_height*$scale_r;
  	width:$dx;
  	height:$dy;
  	background-position:$pos_x + ($dx)/2 $pos_y + ($dy)/2;
  }
}

@mixin font-size($size){
	font-size:$size;
	@media only screen and (max-width: 768px){
		font-size:ceil($size - 1);
	}
	@media only screen and (max-width: 480px){
		font-size:ceil($size - 2);
	}
}

@mixin user-select(){
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:default;
}